<!doctype html>
<html lang="ja">
<head>
<meta charset="utf-8">
<meta>
<title>FFA</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.3/css/bootstrap.min.css" integrity="sha384-MIwDKRSSImVFAZCVLtU0LMDdON6KVCrZHyVQQj6e8wIEJkW4tvwqXrbMIya1vriY" crossorigin="anonymous">
<script src="node_modules/jquery/dist/jquery.js"></script>
<script src="node_modules/lodash/lodash.js"></script>
<script src="node_modules/backbone/backbone.js"></script>
<script src="node_modules/backbone.localstorage/backbone.localStorage.js"></script>
<script src="typed.js" defer></script>
<body id="a">

<a href="#item">item</a>

<script type="text/template" id="b">
<h1>Hello, <%- name %>!</h1>
</script>

<table id="c1" style="height:30em;position:relative;">
<thead style="">
<tr><th>Name</th><th>ATK</th><th>Cost</th></tr>
</thead>
<tbody style="/*overflow-y:scroll;height:90%;display:block;*/">
</tbody>
</table>


<script type="text/template" id="c2">
<tr><td><%- name %></td><td><%- atk %></td><td><%- cost %></td></tr>
</script>

</body>
</html>
